# terraform files
*.tfstate
*.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc    

# local env files
.env.local
.env.*.local    
# .env.test.local is ignored to allow for test environment overrides
.env.test.local
.env.production.local
.env.staging.local
.env.development.local
.env.test.local
.env.ci.local

*.tfvars
**/*.tfvars
*.tfvars.json
# Ignore override files as they are usually used to override resources locally and so

*.pem
# Ignore CLI configuration files